# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
local_settings.py
staticfiles/

# Ambientes Virtuais
.env
.venv/
env/
venv/
ENV/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de Desenvolvimento
*.bak
*.tmp
*.temp

# Cache e Arquivos Temporários
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Dependências e Builds
node_modules/
/build/
/dist/